<div class="page__container">
  <div class="page__part-left">
    <app-options-bar></app-options-bar>
  </div>
  <div class="page__part-content">
    <div class="content-items">
      <div class="content-item">
        <app-post-card></app-post-card>
      </div>
      <div class="content-item">
        <app-post-card></app-post-card>
      </div>
      <div class="content-item">
        <app-post-card></app-post-card>
      </div>
      <div class="content-item">
        <app-post-card></app-post-card>
      </div>
      <div class="content-item">
        <app-post-card></app-post-card>
      </div>
      <div class="content-item">
        <app-post-card></app-post-card>
      </div>
      <div class="content-item">
        <app-post-card></app-post-card>
      </div>
    </div>
  </div>
</div>
