@import '../../../../styles/entities/page.scss';
@import '../../../../styles/shared/mixins.scss';
@import '../../../../styles/constants/breakpoints.scss';

$content-item-padding: 15px;

.content-items {
  @include clearfix;

  margin: -($content-item-padding);

  .content-item {
    float: left;
    width: 33.333%;
    padding: $content-item-padding;
  }
}

@media (max-width: $tablet-end) {
  .content-items {
    .content-item {
      width: 50%;
    }
  }
}

@media (max-width: $phone-end) {
  .content-items {
    .content-item {
      width: 100%;
      float: none;
    }
  }
}
