@import '../../../../../styles/functions/em.scss';

.post-card {
  box-shadow: 1px 1px 5px 1px rgba(0,0,0, .15);

  &__image {
    width: 100%;
    height: em(180px); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
