@import '../constants/colors.scss';
@import '../constants/fonts.scss';
@import '../functions/em.scss';


.button {
  padding: 9px 26px;
  font-size: em(14px);
  font-family: $app-font-primary, sans-serif;
  color: #fff;
  text-transform: uppercase;
  background-color: $primary-color;
  transition: background-color .3s;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;;
  
  &:hover {
    background-color: $primary-color-hover;
  }
}
