@import '../constants/breakpoints.scss';

$page-part-left-width: 240px;
$page-parts-interval: 60px;

$page-container-padding-top: 30px;

.page {
  &__container {
    position: relative;
    padding: $page-container-padding-top 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  &__part-left {
    position: absolute;
    left: 0;
    top: 0;
    width: $page-part-left-width;
    padding: $page-container-padding-top 0;
  }

  &__part-content {
    width: 100%;
    padding-left: $page-part-left-width + $page-parts-interval;
  }
}
// @end .page

@media(max-width: $tablet-end) {
  .page {
    &__container {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }
    
    &__part-left {
      padding: 0;
      position: relative;
      width: 100%;
    }

    &__part-content {
      padding-left: 0;
    }
  }
  // @end .page
}

@media(max-width: $phone-end) {
  .page {
    &__container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  // @end .page
}
