@import './styles/constants/fonts.scss';
@import './styles/constants/colors.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $app-font-common, sans-serif;
  font-size: $app-base-font-size;
  font-weight: 400;
  color: $text-black;
}

* {
  box-sizing: border-box;
}
